.main {
	margin-left: 170px;
	padding: 0px 10px;
} 

body
{ 
	background-color: #f2e1c7;
}

section#header
{
	color: black;
	//-webkit-text-stroke: 1px black;
	text-align: center;
}

.sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	background-color: #ed8a34;
	padding-top: 10px;
	left: 0;
	top: 0;
}

.sidebar a {
	padding: 6px 8px 6px 16px;
	font-size: 25px;
	color: lightgrey;
	display: block;
}

.sidebar a:hover {
	color: white;
	cursor: pointer;
}
