@tailwind base;
@tailwind components;
@tailwind utilities;

body
{ 
	//background-color: #515252;
}

section#header
{
	color: #3091ff;
	text-align: center;
	padding-left: 160px;
}

.login 
{
	color: #3091ff;
	text-align: right;
	padding-left: 160px;
}

.login a{
	padding-right: 10px;
	font-size: 15px;
	color: #3091ff
}

.login a:hover{
	color: lightblue;
	cursor: pointer;
}

.sidebar {
	height: 100%;
	width: 160px;
	position: fixed;
	background-color: blue;
	padding-top: 10px;
	left: 0;
	top: 0;
}

.sidebar .sidebar__tab {
	width: 160px;
	height: 80px;
	font-size: 25px;
	color: lightgrey;
	background-color: #3091ff;
	text-align: center;
	display: block;
	border: none;
	margin-bottom: 40%;
	margin-top: 20%;
}

.sidebar .sidebar__tab:hover {
	color: white;
	cursor: pointer;
}

.main .instruction {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main .documentation {
	text-align: left;
}

.main .documentation a{
	font-size: 15px;
	color: #3091ff
}

.main .documentation a:hover{
	color: lightblue;
	cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 110%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: beige;
  margin: 15% auto;
  padding: 20px;
  border: 10px solid CornflowerBlue;
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.loginPage{
	color: #3091ff;
	text-align: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .75)
}

.modal {
    max-width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
    left: 5%;
}

.modal__header {
    padding: 1rem;
    background: #5101d1;
    color: white;
}

.modal__header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.modal__content {
    padding: 1rem;
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

@media (min-width: 768px) {
    .modal {
        width: 30rem;
        left: calc((100% - 30rem) / 2);
    }
}
